/*margin: arriba,derecha,abajo,izquierda*/

#carouselExampleIndicators{
    width: 100%;
    height: 350px;
}
#fondo{
    background: #ac545b;
}
#fondo2{
    color: #5b2b3d;
    background:#ffb7a2;
    height: 10%;
}
#promo{
    background-color: #0dcaf0;

    width: 20%;
    height: 20%;
    float: right;
}
#normales{
    width: 80%;
    padding:10px 10px 10px 10px;
}
#texto{ color: #5b2b3d;
}
.placeholder{
    width: 90%;
}
#im{
    width: 15%;
    height: 30%;
    border-radius: 100px 100px 100px 100px;}
.list-group{
    background:#ffb7a2 ;


}


