/*margin: arriba,derecha,abajo,izquierda*/
.body{
    color:white;
    background-color: #6a1a21;

}
#bnt{
    background-color:#162889;
}
#carr{
    width: 90%;
}
#promo{
    background-color: #0dcaf0;
    width: 20%;
    height: auto;
    float: right;
}
#normales{
    width: 80%;
    padding:10px 10px 10px 10px;

}
#pie{

    background-color: #6c757d;
    height: 30px;
}
